= render partial: "shared/header"
.signup-select
  %h2.title 新規会員登録
  .registration
    = link_to signup_registration_path, class: "registration__email" do
      = icon 'far', 'envelope'
      %p メールアドレスで登録する
    = link_to user_facebook_omniauth_authorize_path, class: "registration__facebook" do
      = icon 'fab','facebook-f'
      %p Facebookで登録する
    = link_to user_google_oauth2_omniauth_authorize_path, class: "registration__google" do
      = image_tag "google.svg", size: "18x18", alt: "google-logo"
      %p Googleで登録する
