%header.sub-header
  = link_to root_path, class: "credit-header__logo" do
    = image_tag "fmarket_logo_red.svg", size: "185x49", alt: "mercari"
  %ol.nav
    %li.nav__box
      %p.nav__box__progress 会員情報
      .nav__box__status#status
        .nav__box__status__bar1#bar
    %li.nav__box
      %p.nav__box__progress 電話番号認証
      .nav__box__status#status
        .nav__box__status__bar2#bar
    %li.nav__box
      %p.nav__box__progress お届け先住所入力
      .nav__box__status#status
        .nav__box__status__bar3#bar
    %li.nav__box
      %p.nav__box__progress#progress 支払い方法
      .nav__box__status#status
        .nav__box__status__bar4
    %li.nav__box
      %p.nav__box__progress 完了
      .nav__box__status
.credits
  %h2.top 支払い方法
  = form_with model: @credit, url: registrate_credit_path, local: true, class: 'form' do |f|
    .form__group
      .form__group__name カード番号
      .form__group__require 必須
      = f.text_field :number, class: 'form__group__input', placeholder: '半角数字のみ'
      .form__group__err
        - @credit.errors.messages[:number].each do |message|
          .form__group__err__msg= message
      .form__group__img
        =image_tag "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?1855818912", size: "49x20", alt: "VISA"
        =image_tag "//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?1855818912", size: "34x20", alt: "mastercard"
        =image_tag "//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?1855818912", size: "30x20", alt: "SAISON"
        =image_tag "//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?1855818912", size: "32x20", alt: "JCB"
        =image_tag "///www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?1855818912", size: "21x20", alt: "AMERICAN EXPRESS"
        =image_tag "//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?1855818912", size: "32x20", alt: "Diners Club"
        =image_tag "//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?1855818912", size: "32x20", alt: "DISCOVER"
    .form__group
      .form__group__name 有効期限
      .form__group__require 必須
      .form__group__limit
        != sprintf(f.date_select(:date,with_css_classes:'XXXXX', order:[:month,:year,:day], use_month_numbers:true, discard_day:true, start_year:Time.now.year-2000, end_year:Time.now.year-2000+10, date_separator:'%s'),'月') + '年'
    .form__group
      .form__group__name セキュリティコード
      .form__group__require 必須
      = f.text_field :security, class: 'form__group__input', placeholder: 'カード背面4桁もしくは3桁の番号'
      .form__group__err
        - @credit.errors.messages[:security].each do |message|
          .form__group__err__msg= message
      = link_to "", class: "form__group__about" do
        .form__group__mark ?
        %p.form__group__text カード裏面の番号とは？
    = f.submit '追加する', class: 'form__submit'