.wrapper
  %h2.top 会員情報入力
  = form_with model: @user, url: signup_registrate_path, local: true, class: 'form' do |f|
    .form__group
      .form__group__name ニックネーム
      .form__group__require 必須
      = f.text_field :nickname, class: 'form__group__input', placeholder: '例)メルカリ太郎'
    .form__gruop
      .nickname__name メールアドレス
      .form_group__require 必須
      = f.text_field :email, class: 'form__group__input', placeholder: 'PC・携帯どちらでも可'
    .form__group-pass
      .form__group__name パスワード
      .form__group__require 必須
      = f.password_field :password, autocomplete: "new-password", placehoolder: '7文字以上'
      %input.form__group__checkbox{type: 'submit'}
      %p パスワードを表示する
      %span abcd
    .form__group
      %h3 本人確認
      %p 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
    .form__group
      .form__group__name お名前(全角)
      .form__group__require 必須
      = f.text_field :first_name, class: 'form__group__input--small', placeholder: '例)山田'
      = f.text_field :last_name, class: 'form__group__input--small', placeholder: '例)彩'
    .form__group
      .form__group__name お名前カナ(全角)
      .form__group__require 必須
      = f.text_field :first_name_kana, class: 'form__group__input--small', placeholder: '例)ヤマダ'
      = f.text_field :last_name_kana, class: 'form__group__input--small', placeholder: '例)アヤ'
    .form__group
      .from__group__name 生年月日
      .form__group__require 必須
      -# = f.date_select :birth, start_year: 1900, end_year: Time.current.year, use_month_numbers: true, date_separator: "%s",'年','月'
      != sprintf(f.date_select(:birthday, prefix:'birthday',with_css_classes:'XXXXX', prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日'
      %i.icon-arroow-botton
      %p.form__group_info ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。

    .form__group
      .g-recaptcha{"data-callback": "validateRecaptcha", "data-sitekey": "{6Le89cMUAAAAAAeb99rrFc47etRW6YfXytC1NXQs}"}
    .form__ok
      %p 「次へ進む」のボタンを押すことにより、
      = link_to '利用規約', ''
      %p に同意したものとみなします
    = f.submit '次へ進む', class: 'form__submit'
    = link_to '本人の登録について', '', class: 'form_group_about'

-# 6Le89cMUAAAAAAeb99rrFc47etRW6YfXytC1NXQs
-# 6Le89cMUAAAAAAPLC_0c8tv4j7f0vPMKswQokp6p