= render "shared/header"
.purchase-new
  %section.purchase-new__item
    %h2.purchase-new__item__head
      購入内容の確認
    .purchase-new__item__details
      .purchase-new__item__details__head
        .purchase-new__item__details__head__image
          = image_tag asset_path("stand_1.jpg")
        .purchase-new__item__details__head__name
          = @item.name
      .purchase-new__item__details__price
        .purchase-new__item__details__price__amount
          ¥
          = @item.price
          %span.purchase-new__item__details__price__amount__tax
            = price_shipping_cost(@item)
      .purchase-new__item__details__point
        ポイントはありません
      .purchase-new__item__details__amount-payment
        .purchase-new__item__details__amount-payment__head
          支払い金額
        .purchase-new__item__details__amount-payment__amount
          ¥
          = @item.price
      = form_with model:[@item, @purchase],  url: { action: "create" }, method: :post, local: true do |f|
        = f.submit class: 'purchase-new__item__details__purchase',value: '購入する'
  %section.purchase-new__shipping
    .purchase-new__shipping__contents
      %h3.purchase-new__shipping__contents__head
        配送先
      %address.purchase-new__shipping__contents__address
        〒
        = current_user.address.zip_code
        %br
        = current_user.address.prefecture.name
        = current_user.address.city
        = current_user.address.address
        - if current_user.address.building.present?
          = current_user.address.building
        %br
        幾世橋 良太
      = link_to "変更する", root_path, class: "purchase-new__shipping__contents__edit blue"
  %section.purchase-new__pay-method
    .purchase-new__pay-method__contents
      .purchase-new__pay-method__contents__head
        支払い方法
      - if @card.present?
        .purchase-new__pay-method__contents__number
          = "**** **** **** " + @default_card_information.last4
        .purchase-new__pay-method__contents__date
          - exp_month = @default_card_information.exp_month.to_s
          - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
          = exp_month + " / " + exp_year
      - else
        %br /
      .purchase-new__pay-method__contents__brand
      = link_to "変更する", root_path, class: "purchase-new__pay-method__contents__edit blue"
%nav.bread-crumbs-bottom 
  = render_breadcrumbs tag: :span, separator: ' > '