%nav.bread-crumbs 
  %span.bread-crumbs__page メルカリ
  = icon "fas", "angle-right", class: "bread-crumbs__icon"
  %span.bread-crumbs__page カテゴリー一覧
  = icon "fas", "angle-right", class: "bread-crumbs__icon"
  %span.bread-crumbs__page#in-page カテゴリー名

.cat-search
  .cat-search__items
    .cat-search__items__child
      = link_to "子カテゴリー１", root_path
      = link_to "子カテゴリー２", root_path
      = link_to "子カテゴリー３", root_path
      = link_to "子カテゴリー４", root_path
      = link_to "子カテゴリー５", root_path
    .cat-search__items__title カテゴリー名の商品一覧(nページ目)
    %ul.cat-search__items__list
      = render partial: "item", collection: @items
    = paginate(@items)
  .cat-search__explanation
    .cat-search__explanation__title "カテゴリー名"(ルートカテゴリー)
    .cat-search__explanation__text "カテゴリー名"の処分、買取ならメルカリへ。"カテゴリー名"の商品は"category.itme.number"点以上あります。人気のあるカテゴリーは"孫カテゴリー1"と"孫カテゴリー2"です（親・子のみ）。人気の商品は「category.item1」や「category.item2」があります。"category.name"のリサイクルや売ることを検討中の方にお勧めです。


