- if user_signed_in?
  = current_user.nickname
  = link_to "ログアウト", destroy_user_session_path, method: :delete
- else
  = link_to "新規登録", signin_path

  = link_to "ログイン", signup_path

-# 広告
.advertisement 画像を入れる


-# 人気のカテゴリー
.popularity
  %h2.popularity__title
    人気のカテゴリー
  %ul.popularity__item
    %li.popularity__item__bottom 
      %a.popularity__item__bottom__name レディース
    %li.popularity__item__bottom
      %a.popularity__item__bottom__name メンズ
    %li.popularity__item__bottom
      %a.popularity__item__bottom__name 家電・スマホ・カメラ
    %li.popularity__item__bottom
      %a.popularity__item__bottom__name おもちゃ・ホビー・グッズ

-# アイテム一覧
.new
  .new__items
    .new__items__upper
      %h3.new__items__upper__title 商品一覧
      =link_to "/jp/catedory/1/" ,class: "new__items__upper__btn" do
        もっと見る ＞
      -# = fa_icon "angle-right"
    %ul.new__items__list

      - @items.each do |item|
        = render partial: "item", locals:{item: item}

      -# %li.new__items__list__item
      -#   = link_to "https://item.mercari.com/jp/m83719687124" do
      -#     .new__items__list__item__upper
      -#       %span.new__items__list__item__upper__price
      -#         ¥
      -#         7,000
      -#         %br
      -#       =image_tag "https://static.mercdn.net/thumb/photos/m83719687124_1.jpg?1574431137", class: 'new__items__list__item__upper__btm'
      -#     .new__items__list__item__description 
      -#       %p 商品説明商品説明商品説明商品説明商品説明商品説明
      -# %li.new__items__list__item
      -#   = link_to "https://item.mercari.com/jp/m83719687124" do
      -#     .new__items__list__item__upper
      -#       %span.new__items__list__item__upper__price
      -#         ¥
      -#         7,000
      -#         %br
      -#       =image_tag "https://static.mercdn.net/thumb/photos/m83719687124_1.jpg?1574431137", class: 'new__items__list__item__upper__btm'
      -#     .new__items__list__item__description 
      -#       %p 商品説明商品説明商品説明商品説明商品説明商品説明
      -# %li.new__items__list__item
      -#   = link_to "https://item.mercari.com/jp/m83719687124" do
      -#     .new__items__list__item__upper
      -#       %span.new__items__list__item__upper__price
      -#         ¥
      -#         7,000
      -#         %br
      -#       =image_tag "https://static.mercdn.net/thumb/photos/m83719687124_1.jpg?1574431137", class: 'new__items__list__item__upper__btm'
      -#     .new__items__list__item__description 
      -#       %p 商品説明商品説明商品説明商品説明商品説明商品説明
      -# %li.new__items__list__item
      -#   = link_to "https://item.mercari.com/jp/m83719687124" do
      -#     .new__items__list__item__upper
      -#       %span.new__items__list__item__upper__price
      -#         ¥
      -#         7,000
      -#         %br
      -#       =image_tag "https://static.mercdn.net/thumb/photos/m83719687124_1.jpg?1574431137", class: 'new__items__list__item__upper__btm'
      -#     .new__items__list__item__description 
      -#       %p 商品説明商品説明商品説明商品説明商品説明商品説明
      -# %li.new__items__list__item
      -#   = link_to "https://item.mercari.com/jp/m83719687124" do
      -#     .new__items__list__item__upper
      -#       %span.new__items__list__item__upper__price
      -#         ¥
      -#         7,000
      -#         %br
      -#       =image_tag "https://static.mercdn.net/thumb/photos/m83719687124_1.jpg?1574431137", class: 'new__items__list__item__upper__btm'
      -#     .new__items__list__item__description 
      -#       %p 商品説明商品説明商品説明商品説明商品説明商品説明
      -# %li.new__items__list__item
      -#   = link_to "https://item.mercari.com/jp/m83719687124" do
      -#     .new__items__list__item__upper
      -#       %span.new__items__list__item__upper__price
      -#         ¥
      -#         7,000
      -#         %br
      -#       =image_tag "https://static.mercdn.net/thumb/photos/m83719687124_1.jpg?1574431137", class: 'new__items__list__item__upper__btm'
      -#     .new__items__list__item__description 
      -#       %p 商品説明商品説明商品説明商品説明商品説明商品説明
      -# %li.new__items__list__item
      -#   = link_to "https://item.mercari.com/jp/m83719687124" do
      -#     .new__items__list__item__upper
      -#       %span.new__items__list__item__upper__price
      -#         ¥
      -#         7,000
      -#         %br
      -#       =image_tag "https://static.mercdn.net/thumb/photos/m83719687124_1.jpg?1574431137", class: 'new__items__list__item__upper__btm'
      -#     .new__items__list__item__description 
      -#       %p 商品説明商品説明商品説明商品説明商品説明商品説明
      -# %li.new__items__list__item
      -#   = link_to "https://item.mercari.com/jp/m83719687124" do
      -#     .new__items__list__item__upper
      -#       %span.new__items__list__item__upper__price
      -#         ¥
      -#         7,000
      -#         %br
      -#       =image_tag "https://static.mercdn.net/thumb/photos/m83719687124_1.jpg?1574431137", class: 'new__items__list__item__upper__btm'
      -#     .new__items__list__item__description 
      -#       %p 商品説明商品説明商品説明商品説明商品説明商品説明
      -# %li.new__items__list__item
      -#   = link_to "https://item.mercari.com/jp/m83719687124" do
      -#     .new__items__list__item__upper
      -#       %span.new__items__list__item__upper__price
      -#         ¥
      -#         7,000
      -#         %br
      -#       =image_tag "https://static.mercdn.net/thumb/photos/m83719687124_1.jpg?1574431137", class: 'new__items__list__item__upper__btm'
      -#     .new__items__list__item__description 
      -#       %p 商品説明商品説明商品説明商品説明商品説明商品説明
      -# %li.new__items__list__item
      -#   = link_to "https://item.mercari.com/jp/m83719687124" do
      -#     .new__items__list__item__upper
      -#       %span.new__items__list__item__upper__price
      -#         ¥
      -#         7,000
      -#         %br
      -#       =image_tag "https://static.mercdn.net/thumb/photos/m83719687124_1.jpg?1574431137", class: 'new__items__list__item__upper__btm'
      -#     .new__items__list__item__description 
      -#       %p 商品説明商品説明商品説明商品説明商品説明商品説明
      
