%section.item-show
  %h1.item-show__name
    【多機能】スマホ・タブレットスタンド　折りたたみ式　角度調整可能　ホワイト
  %p.item-show__wording
    『【多機能】スマホ・タブレットスタンド　折りたたみ式　角度調整可能　ホワイト』は、2205回の取引実績を持つ玲奈さんから出品されました。その他/家電・スマホ・カメラの商品で、埼玉県から1~2日で発送されます。
  .item-show__main
    .item-show__main__image
      .item-show__main__image__display
      .item-show__main__image__list
    %table.item-show__main__detail
      %tr.item-show__main__detail__exhibitor
        %th 出品者
        %th 
          .item-show__main__detail__exhibitor__name
            玲奈
          .item-show__main__detail__exhibitor__reviews
            .item-show__main__detail__exhibitor__reviews__good
              .item-show__main__detail__exhibitor__reviews__good__icon
                = fa_icon 'frown-o', class: 'icon'
              .item-show__main__detail__exhibitor__reviews__good__count
                2216
            .item-show__main__detail__exhibitor__reviews__normal
              .item-show__main__detail__exhibitor__reviews__normal__icon
                = fa_icon 'frown-o', class: ''
              .item-show__main__detail__exhibitor__reviews__normal__count
                51
            .item-show__main__detail__exhibitor__reviews__bad
              .item-show__main__detail__exhibitor__reviews__bad__icon
                = fa_icon 'frown-o', class: ''
              .item-show__main__detail__exhibitor__reviews__bad__count
                11
      %tr
        %th カテゴリー
        %th.item-show__main__detail__category
          .item-show__main__detail__category__top
            家電・スマホ・カメラ
          .item-show__main__detail__category__middle
            = fa_icon 'angle-detail', class: ''
            PC/タブレット
          .item-show__main__detail__category__bottom
            = fa_icon 'angle-detail', class: ''
            その他
      %tr
        %th ブランド
        %th.item-show__main__detail__brand
      %tr
        %th 商品の状態
        %th.item-show__main__detail__condition
          新品、未使用
      %tr
        %th 配送料の負担
        %th.item-show__main__detail__shipping-charge
          送料込み(出品者負担)
      %tr
        %th 配送の方法
        %th.item-show__main__detail__shipping__method
          らくらくメルカリ便
      %tr
        %th 配送元地域
        %th.item-show__main__detail__prefecture
          埼玉県
      %tr
        %th 発送日の目安
        %th.item-show__main__detail__shipping-date
          1~2日で発送
  .item-show__price
    .item-show__price__mount
      ¥900
    .item-show__price__tax
      (税込)
    .item-show__price__postage
      送料込み
  .item-show__button
    購入画面に進む
  .item-show__introduction
    - text = "大人気のスマホ・タブレットスタンドです♪\n\n\n【対応機種】iphone全種類、ipad Air、ipad mini、ipad 4,3,2、kindle、電子書籍などあらゆる11インチまでのスマホやタブレット。\n\n【どこでもオフィスになる！】iPad利用時に、Bluetoothのキーボードを併用し、何処でもコンパクトにオフィスの出来がり！\n\n【22段階調整可能】下部の支えは２段階に調整可能。狭く開けばスマホ用として、広く開けばタブレット用としてお使いいただけます。\n\n【軽量設計】テーブル・ベット・喫茶店・飛行機などで活躍重さわずか約100gなので、使わない時はポケットに入れて、持ち運びにとても便利です。\n\n【パッドにすべり止め機能付きゴム製を採用】本を読んだりネットサーフィンを楽しんだり、映画を鑑賞するためにデバイスを任意の角度に固定できます。\n\n\n☆発送に関しまして☆基本的に即日か翌日発送致します！安心、迅速なメルカリ便にてお届け致します♪8"
    = simple_format text
  .item-show__btn-container
    .item-show__btn-container__left
      .item-show__btn-container__left__iine
        .item-show__btn-container__left__iine__icon
          = fa_icon 'heart-o', class: 'iine'
        .item-show__btn-container__left__iine__title
          いいね!
        .item-show__btn-container__left__iine__count
          1
      .item-show__btn-container__left__report
        .item-show__btn-container__left__report__icon
          = fa_icon 'flag-o', class: 'flag'
        .item-show__btn-container__left__report__title
          不適切な商品の報告
    .item-show__btn-container__right
      .item-show__btn-container__right__icon
        = fa_icon 'lock', class: 'lock'
      .item-show__btn-container__right__title
        あんしん・あんぜんへの取り組み

      