%header.header
  .header__container
    .header__container__top
      = link_to root_path, class: "header__container__top__icon" do
        = render "shared/fmarket_logo_red"
      .header__container__top__search
        %input{name: "keyword", type: "search", placeholder: "何かお探しですか？", class: "header__top__search__input"}
        %button
          = icon 'fas', 'search'
    .header__container__bottom
      .header__container__bottom__box1
        .box-one
          %p レディース
          .header__container__bottom__box1__child
            .box-two
              %p トップス
              .header__container__bottom__box1__child__grand-child  
                .box-three
                  %p Tシャツ/カットソー(半袖/袖なし)
                .box-three  
                  %p Tシャツ/カットソー(七分/長袖)
                .box-three  
                  %p シャツ/ブラウス(半袖/袖なし)
                .box-three  
                  %p シャツ/ブラウス(七分/長袖)
                .box-three  
                  %p キャミソール
                .box-three  
                  %p タンクトップ
                .box-three  
                  %p ホルターネック
                .box-three  
                  %p ニット/セーター
                .box-three  
                  %p チュニック
                .box-three  
                  %p カーディガン/ボレロ
                .box-three  
                  %p アンサンブル
                .box-three  
                  %p ベスト/ジレ
                .box-three  
                  %p パーカー
                .box-three  
                  %p トレーナー/スウェット
                .box-three  
                  %p ベアトップ/チューブトップ
                .box-three  
                  %p ジャージ
                .box-three  
                  %p その他
            .box-two      
              %p ジャケット/アウター
            .box-two  
              %p パンツ
            .box-two  
              %p スカート
            .box-two  
              %p ワンピース
            .box-two  
              %p 靴
            .box-two  
              %p ルームウェア
            .box-two  
              %p レッグウェア
            .box-two  
              %p 帽子
            .box-two  
              %p バッグ
            .box-two  
              %p アクセサリー
            .box-two  
              %p ヘアアクセサリー
            .box-two  
              %p 小物
            .box-two  
              %p 時計
            .box-two  
              %p ウィッグ/エクステ
            .box-two  
              %p 浴衣/水着
            .box-two  
              %p スーツ/フォーマル/ドレス
            .box-two  
              %p マタニティ
            .box-two  
              %p その他        
        .box-one     
          %p メンズ
        .box-one 
          %p ベビー・キッズ
        .box-one
          %p インテリア・住まい・小物
        .box-one
          %p 本・音楽・ゲーム
        .box-one 
          %p おもちゃ・ホビー・グッズ
        .box-one  
          %p コスメ・香水・美容
        .box-one  
          %p 家電・スマホ・カメラ
        .box-one  
          %p スポーツ・レジャー
        .box-one 
          %p ハンドメイド
        .box-one 
          %p チケット
        .box-one
          %p 自動車・オートバイ
        .box-one 
          %p その他
        .box-one  
          %p カテゴリー一覧
      -# .header__container__bottom__box2
      -#   %p ジャケット/アウター
      -#   %p パンツ
      -#   %p スカート
      -#   %p ワンピース
      -#   %p 靴
      -#   %p ルームウェア
      -#   %p レッグウェア
      -#   %p 帽子
      -#   %p バッグ
      -#   %p アクセサリー
      -#   %p ヘアアクセサリー
      -#   %p 小物
      -#   %p 時計
      -#   %p ウィッグ/エクステ
      -#   %p 浴衣/水着
      -#   %p スーツ/フォーマル/ドレス
      -#   %p マタニティ
      -#   %p その他
      -# .header__container__bottom__box3
        
      -#   %p Tシャツ/カットソー(七分/長袖)
      -#   %p シャツ/ブラウス(半袖/袖なし)
      -#   %p シャツ/ブラウス(七分/長袖)
      -#   %p キャミソール
      -#   %p タンクトップ
      -#   %p ホルターネック
      -#   %p ニット/セーター
      -#   %p チュニック
      -#   %p カーディガン/ボレロ
      -#   %p アンサンブル
      -#   %p ベスト/ジレ
      -#   %p パーカー
      -#   %p トレーナー/スウェット
      -#   %p ベアトップ/チューブトップ
      -#   %p ジャージ
      -#   %p その他     
      .header__container__bottom__left
        = link_to '', class: "header__container__bottom__left__category" do
          .header__container__bottom__left__category__icon
            = icon 'fas','list-ul', class: 'icon'
          .header__container__bottom__left__category__character
            カテゴリーから探す
        = link_to '', class: "header__container__bottom__left__brands" do
          .header__container__bottom__left__brands__icon
            = icon 'fas', 'tag', class: 'icon'
          .header__container__bottom__left__brands__character
            ブランドから探す
      .header__container__bottom__right
        - if user_signed_in?
          .header__container__bottom__right__login
            = link_to user_path(current_user) , class: 'header__container__bottom__right__login__my-page'do
              -# = image_tag "user_icon_default", class: 'header__container__bottom__right__login__my-page__icon', alt: "", width: "32", height: "32"
              .header__container__bottom__right__login__my-page__icon
                = icon 'far','user'
              %span.header__container__bottom__right__login__my-page__chara マイページ
        - else
          .header__container__bottom__right__logout
            = link_to '', class: "header__container__bottom__right__logout__registration", href: signup_path, type: '' do
              新規会員登録
            = link_to '', class: "header__container__bottom__right__logout__login", href: signin_path, type: '' do
              ログイン

