%header.header
  .header__container
    .header__container__top
      = link_to root_path, class: "header__container__top__icon" do
        = render "shared/fmarket_logo_red"
      = form_with model: @item, url: search_items_path, method: :get, local: true, class: "header__container__top__search" do |f|
        = f.search_field :search, name: "keyword", placeholder: "何かお探しですか？", class: "header__top__search__input"
        = f.button type: :submit do
          = icon 'fas', 'search'

    .header__container__bottom
      .header__container__bottom__left
        = link_to '', class: "header__container__bottom__left__category" do
          .header__container__bottom__left__category__icon
            = icon 'fas','list-ul', class: 'icon'
          .header__container__bottom__left__category__character
            カテゴリーから探す
        = link_to '', class: "header__container__bottom__left__brands" do
          .header__container__bottom__left__brands__icon
            = icon 'fas', 'tag', class: 'icon'
          .header__container__bottom__left__brands__character
            ブランドから探す
      .header__container__bottom__right
        - if user_signed_in?
          .header__container__bottom__right__login
            = link_to user_path(current_user) , class: 'header__container__bottom__right__login__my-page'do
              -# = image_tag "user_icon_default", class: 'header__container__bottom__right__login__my-page__icon', alt: "", width: "32", height: "32"
              .header__container__bottom__right__login__my-page__icon
                = icon 'far','user'
              %span.header__container__bottom__right__login__my-page__chara マイページ
        - else
          .header__container__bottom__right__logout
            = link_to '', class: "header__container__bottom__right__logout__registration", href: signup_path, type: '' do
              新規会員登録
            = link_to '', class: "header__container__bottom__right__logout__login", href: signin_path, type: '' do
              ログイン

